<div class="row header">
  <div class="col-md-2 col-xs-12">
    <img id="img-logo" src="../../assets/img/logo.png">
  </div>
  <div class="col-md-3">
    <img id="img-tripadvisor" src="../../assets/img/tripadvisor.png">
  </div>
  <div class="address col-md-3">
    <img class="img-address" src="../../assets/img/address.png">
    <p>103 - 105 Vo Nguyen Giap Street,</p>
    <p>Khue My Ward, Ngu Hanh Son District,</p>
    <p>Danang City, Vietnam</p>
    <p id="position-address">7.0 km from Da Nang International Airport</p>
  </div>
  <div class="information col-md-2">
    <div class="phone">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>
      <p>84-236-3847 333/888</p>
    </div>
    <div class="email">
      <img class="img-email" src="../../assets/img/email.png">
      <p>reservation@furama.com</p>
    </div>
  </div>
</div>
