<form class="form-group" *ngIf="productFormDelete" [formGroup]="productFormDelete" (ngSubmit)="onSubmit(id)">
  <div>
    Name
    <input type="text" class="form-control" formControlName="name" readonly >
  </div>
  Category
  <select formControlName="category">
    <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
  </select>
  <br>
  <div>
    Price
    <input type="text" class="form-control" placeholder="" formControlName="price" readonly>
  </div>
  <button>Xóa</button>
</form>
