<div class="row footer">
  <h5>Contact US</h5>
  <div class="col-md-7">
    <img src="../../assets/img/address.png" class="img-address">
    <p>103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam</p>
    <p>Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
    <p>Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
    <p>GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236, Sabre-GD 032771, Worldspan- GD DADFU</p>
  </div>
  <div class="col-md-5 d-flex justify-content-center align-items-center">
    <div class="img-footer d-flex">
      <img src="../../assets/img/img-footer.png">
    </div>
  </div>
</div>
