.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
.logo img{
    width: 100%;
    height: auto;
}


.footer{
    padding:0 6%;
    height: 15%;
    background-color: #046056;
    font-size: 13px;
}

.footer img{
    opacity: 40%;
    margin-left: 1%;
}
.footer p{
    margin: 0;
    padding-left: 5%;
    color: #938989;
}
.img-footer img{
    width: 400px;
    opacity: 90%;
    padding-top: 0;
}

.img-address{
    width: 25px;
    float: left;
    opacity: 80%;
}
.address, .information{
    margin-top: 1.5%;
}

.address p{
    padding: 0 0 0 9%;
    margin: 0;
    color: #938989;
}


#position-address{
    margin-top: 6px;
}
.info{
    padding-top: 15px;
}