h2{
    color: #0b5ed7;
    margin-left: 67%;
}
.search {
    margin-left: 1%;

}
body{
    background-color: rgba(210, 224, 196, 0.54);
}
td, th, tr{
    text-align: center;
    align-items: center;
}

.form-control{
    margin-left: 5%;
}

.message{
    text-align: center;
    color: red;
}
.next, .previous {
    color: white;
}

#listAttachFacility div{
    padding: 1px;
}


