<div class="bg-secondary d-flex justify-content-center"><app-navbar></app-navbar></div>
<router-outlet></router-outlet>
<!--&lt;!&ndash;Modal delete&ndash;&gt;-->

<!--&lt;!&ndash;form&ndash;&gt;-->


<!--<div>-->
<!--  <h1>Danh sách sản phẩm</h1>-->
<!--  <input type="search">-->
<!--  <button class="btn btn-primary" click="search(searchInput.value)">Search</button>-->
<!--  <button click="">Sort by Name</button>-->
<!--</div>-->

<!--<table class="table table-striped">-->
<!--  <tr>-->
<!--    <td>STT</td>-->
<!--    <td>Tên</td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--  &lt;!&ndash;  <tr paginate: { itemsPerPage: 3, currentPage: page }>&ndash;&gt;-->
<!--  <td></td>-->
<!--  <td><a>-->
<!--    <button class="btn btn-success">Sửa</button>-->
<!--  </a></td>-->
<!--  <td>-->
<!--    <button class="btn btn-primary bg-danger" data-bs-toggle="modal"-->
<!--            data-bs-target="#deleteModal">Delete-->
<!--    </button>-->
<!--  </td>-->
<!--  &lt;!&ndash;  Input('data') meals: string[] = []; page: number = 0;&ndash;&gt;-->
<!--  &lt;!&ndash;  </tr>&ndash;&gt;-->

<!--</table>-->
<!--<div class="has-text-centered">-->
<!--  <pagination-controls pageChange="page = $event"></pagination-controls>-->
<!--</div>-->
