.facility-head{
  position: relative;
}

.facility-head img {
  width: 100%;
  z-index: -1;
}

.facility-head p {
  text-align: center;
  color: white;
  font-size: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.error {
  text-align: center;
  color: red;
}
