<router-outlet></router-outlet>


<!--&lt;!&ndash;form&ndash;&gt;-->
<!--<h2 style="text-align: center; color: blue"></h2>-->
<!--<div class="d-flex justify-content-center">-->
<!--<form>-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>Tên sản phẩm:</td>-->
<!--      <td><input type="text" class="form-control" ></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Giá sản phẩm</td>-->
<!--      <td><input type="number" class="form-control"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Mô tả về sản phẩm</td>-->
<!--      <td><input type="text" class="form-control"></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td>Loại</td>-->
<!--      <td>-->
<!--        <select class="form-control">-->
<!--        </select>-->
<!--      </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td></td>-->
<!--      <td><button class="btn btn-success">Tạo mới</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</form>-->
<!--</div>-->


<!--<div>-->
<!--  <h1>Danh sách sản phẩm</h1>-->
<!--  <input type="search">-->
<!--  <button class="btn btn-primary" click="search(searchInput.value)">Search</button>-->
<!--  <button click="">Sort by Name</button>-->
<!--</div>-->

<!--<table class="table table-striped">-->
<!--  <tr>-->
<!--    <td>STT</td>-->
<!--    <td>Tên</td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--    <td></td>-->
<!--  </tr>-->
<!--  <td></td>-->
<!--  <td><a>-->
<!--    <button class="btn btn-success">Sửa</button>-->
<!--  </a></td>-->
<!--  <td>-->
<!--    <button class="btn btn-primary bg-danger" data-bs-toggle="modal"-->
<!--            data-bs-target="#deleteModal">Delete-->
<!--    </button>-->
<!--  </td>-->


<!--</table>-->
<!--<div class="has-text-centered">-->
<!--</div>-->
