<app-navbar></app-navbar>
<h2 style="margin-left: 45%;margin-top: 1%">Customer</h2>
<div class="table-list">
  <div class="table-responsive">
    <table class="table table-striped w-100" id="tableCustomer">
      <thead style="vertical-align: top; text-align: center">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Day Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let customer of customerList">
        <td>{{customer.id}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dayOfBirth}}</td>
        <td>
          <span *ngIf="customer.gender == true">Nam</span>
          <span *ngIf="customer.gender == false">Nữ</span>
        </td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#editModal" (click)="edit(customer.id)">Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" (click)="delete(customer.id)">Delete
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="row">
    <button type="button"
            class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">
      Add new Customer
    </button>
  </div>

</div>

<!--Modal add-->
<div class='modal fade' id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-0 p-0">
        <form class="form-horizontal" [formGroup]="newCustomerForm" (ngSubmit)="onSubmitAdd()" novalidate>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newCustomerTypeId">Customer
              Type:</label></div>
            <div class="col-sm-8">
              <select class="form-control" id="newCustomerTypeId" formControlName="customerType">
                <option value="0" disabled>Chọn loại khách hàng</option>
                <option value="1">Diamond</option>
                <option value="2">Platinum</option>
                <option value="3">Gold</option>
                <option value="4">Silver</option>
                <option value="5">Member</option>
              </select>
              <div class="error"
                   *ngIf="newCustomerForm.controls.customerType?.errors?.required && newCustomerForm.controls.customerType?.touched">
                Không được để trống
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Id:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="id"
                     placeholder="Enter Id">
              <div class="error"
                   *ngIf="newCustomerForm.controls.id?.errors?.required && newCustomerForm.controls.id?.touched">Mã
                khách hàng không được để trống
              </div>
              <div class="error"
                   *ngIf="newCustomerForm.controls.id?.errors?.pattern && newCustomerForm.controls.id?.touched">Mã
                Khách
                hàng không đúng định dạng.
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newName">Name:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="newName" formControlName="name"
                     placeholder="Enter name">
              <div class="error"
                   *ngIf="newCustomerForm.controls.name?.errors?.required && newCustomerForm.controls.name?.touched">
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newDayOfBirth">Day Of
              Birth:</label></div>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="newDayOfBirth" formControlName="dayOfBirth"
                     placeholder="Enter day of birth">
              <div class="error"
                   *ngIf="newCustomerForm.controls.dayOfBirth?.errors?.ageError && newCustomerForm.controls.dayOfBirth?.touched">
                Khách hàng phải lớn hơn 18 tuổi.
              </div>
              <div class="error"
                   *ngIf="newCustomerForm.controls.dayOfBirth?.errors?.required && newCustomerForm.controls.dayOfBirth?.touched">
                Không được để trống.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Gender:</label></div>
            <div class="col-sm-8">
              <label for="gender1"><input class="ms-3 me-1" checked type="radio" value="true" formControlName="gender"
                                          id="gender1">Nam</label>
              <label for="gender2"><input class="ms-3 me-1" type="radio" id="gender2" value="false"
                                          formControlName="gender">Nữ</label>
              <div class="error"
                   *ngIf="newCustomerForm.controls.gender?.errors?.required && newCustomerForm.controls.gender?.touched">
                Không được để trống.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newIdCard">ID card:</label></div>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="idCard"
                     id="newIdCard" placeholder="Enter ID card">
              <div class="error"
                   *ngIf="newCustomerForm.controls.idCard?.errors?.required && newCustomerForm.controls.idCard?.touched">
                Không được để trống.
              </div>
              <div class="error"
                   *ngIf="newCustomerForm.controls.idCard?.errors?.pattern && newCustomerForm.controls.idCard?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newPhoneNumber">Phone
              number:</label></div>
            <div class="col-sm-8">
              <input class="form-control" id="newPhoneNumber" formControlName="phoneNumber"
                     placeholder="Enter phone number">
              <div class="error"
                   *ngIf="newCustomerForm.controls.phoneNumber?.errors?.required && newCustomerForm.controls.phoneNumber?.touched">
                Không được để trống.
              </div>
              <div class="error"
                   *ngIf="newCustomerForm.controls.phoneNumber?.errors?.pattern && newCustomerForm.controls.phoneNumber?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newEmail">Email:</label></div>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="newEmail" formControlName="email"
                     placeholder="Enter email">
              <div class="error"
                   *ngIf="newCustomerForm.controls.email?.errors?.email && newCustomerForm.controls.email?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newAddress">Address:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="newAddress" formControlName="address"
                     placeholder="Enter address">
              <div class="error"
                   *ngIf="newCustomerForm.controls.address?.errors?.required && newCustomerForm.controls.address?.touched">
                Không được để trống.
              </div>
            </div>
          </div>
          <div class="form-group m-2">
            <div class="d-flex justify-content-center">
              <button [disabled]="newCustomerForm.invalid" data-bs-dismiss="modal" class="btn btn-success">Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Modal edit-->
<div class='modal fade' id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-0 p-0">

        <form class="form-horizontal" [formGroup]="editCustomerForm" (ngSubmit)="onSubmitEdit()" novalidate>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editCustomerTypeId">Customer
              Type:</label></div>
            <div class="col-sm-8">
              <select class="form-control" id="editCustomerTypeId" formControlName="customerType">
                <option value="0" disabled>Chọn loại khách hàng</option>
                <option value="1">Diamond</option>
                <option value="2">Platinum</option>
                <option value="3">Gold</option>
                <option value="4">Silver</option>
                <option value="5">Member</option>
              </select>
              <div class="error"
                   *ngIf="editCustomerForm.controls.customerType?.errors?.required && editCustomerForm.controls.customerType?.touched">
                Không được để trống
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Id:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" formControlName="id"
                     placeholder="Enter Id">
              <div class="error"
                   *ngIf="editCustomerForm.controls.id?.errors?.required && editCustomerForm.controls.id?.touched">Mã
                khách hàng không được để trống
              </div>
              <div class="error"
                   *ngIf="editCustomerForm.controls.id?.errors?.pattern && editCustomerForm.controls.id?.touched">Mã
                Khách
                hàng không đúng định dạng.
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editName">Name:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="editName" formControlName="name"
                     placeholder="Enter name">
              <div class="error"
                   *ngIf="editCustomerForm.controls.name?.errors?.required && editCustomerForm.controls.name?.touched">
              </div>
            </div>
          </div>
          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editDayOfBirth">Day Of
              Birth:</label></div>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="editDayOfBirth" formControlName="dayOfBirth">
              <div class="error"
                   *ngIf="editCustomerForm.controls.dayOfBirth?.errors?.ageError && editCustomerForm.controls.dayOfBirth?.touched">
                Khách hàng phải lớn hơn 18 tuổi.
              </div>
              <div class="error"
                   *ngIf="editCustomerForm.controls.dayOfBirth?.errors?.required && editCustomerForm.controls.dayOfBirth?.touched">
                Không được để trống.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Gender:</label></div>
            <div class="col-sm-8">
              <label for="gender1"><input class="ms-3 me-1" checked type="radio" [value]="true" formControlName="gender"
                                          >Nam</label>
              <label for="gender2"><input class="ms-3 me-1" type="radio"  [value]="false"
                                          formControlName="gender">Nữ</label>
              <div class="error"
                   *ngIf="editCustomerForm.controls.gender?.errors?.required && editCustomerForm.controls.gender?.touched">
                Không được để trống.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editIdCard">ID card:</label></div>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="idCard"
                     id="editIdCard" placeholder="Enter ID card">
              <div class="error"
                   *ngIf="editCustomerForm.controls.idCard?.errors?.required && editCustomerForm.controls.idCard?.touched">
                Không được để trống.
              </div>
              <div class="error"
                   *ngIf="editCustomerForm.controls.idCard?.errors?.pattern && editCustomerForm.controls.idCard?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editPhoneNumber">Phone
              number:</label></div>
            <div class="col-sm-8">
              <input class="form-control" id="editPhoneNumber" formControlName="phoneNumber"
                     placeholder="Enter phone number">
              <div class="error"
                   *ngIf="editCustomerForm.controls.phoneNumber?.errors?.required && editCustomerForm.controls.phoneNumber?.touched">
                Không được để trống.
              </div>
              <div class="error"
                   *ngIf="editCustomerForm.controls.phoneNumber?.errors?.pattern && editCustomerForm.controls.phoneNumber?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editEmail">Email:</label></div>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="editEmail" formControlName="email"
                     placeholder="Enter email">
              <div class="error"
                   *ngIf="editCustomerForm.controls.email?.errors?.email && editCustomerForm.controls.email?.touched">
                Không đúng định dạng.
              </div>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editAddress">Address:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="editAddress" formControlName="address"
                     placeholder="Enter address">
              <div class="error"
                   *ngIf="editCustomerForm.controls.address?.errors?.required && editCustomerForm.controls.address?.touched">
                Không được để trống.
              </div>
            </div>
          </div>
          <div class="form-group m-2">
            <div class="d-flex justify-content-center">
              <button [disabled]="editCustomerForm.invalid" data-bs-dismiss="modal" class="btn btn-success">Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
      </div>
        <div class="modal-body">
          <span>Are you sure you want to delete customer </span>
          <span>{{deleteCustomer?.name}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onDelete()">Delete</button>
        </div>
    </div>
  </div>
</div>
