<div class="table-list">
  <div class="table-responsive">
    <table class="table table-striped w-100" id="tableCustomer">
      <thead style="vertical-align: top; text-align: center">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Day Of Birth</th>
        <th scope="col">Gender</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let customer of customerList,index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.name}}</td>
        <td>{{customer.dayOfBirth}}</td>
        <td>
          <span *ngIf="customer.gender === true">Nam</span>
          <span *ngIf="!customer.gender === true">Nữ</span>
        </td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#editModal">Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="#deleteModal">Delete
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="row">
    <button type="button"
            class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">
      Add new Customer
    </button>
  </div>

</div>

<!--Modal add-->
<div class='modal fade' id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Add Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-0 p-0">

        <form class="form-horizontal" action="/customer/save" method="post">

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newCustomerTypeId">Customer
              Type:</label></div>
            <div class="col-sm-8">
              <select type="number" class="form-control" id="newCustomerTypeId">
                <option value="0" disabled>Chọn loại khách hàng</option>
                <option>Diamond</option>
                <option>Platinum</option>
                <option>Gold</option>
                <option>Silver</option>
                <option>Member</option>
              </select>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newName">Name:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="newName"
                     placeholder="Enter name">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newDayOfBirth">Day Of
              Birth:</label></div>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="newDayOfBirth"
                     placeholder="Enter day of birth">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Gender:</label></div>
            <div class="col-sm-8">
              <label for="gender1"><input class="ms-3 me-1" checked type="radio"
                                          id="gender1">Nam</label>
              <label for="gender2"><input class="ms-3 me-1" type="radio" id="gender2">Nữ</label>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newIdCard">ID card:</label></div>
            <div class="col-sm-8">
              <input type="number" class="form-control"
                     id="newIdCard" placeholder="Enter ID card">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newPhoneNumber">Phone
              number:</label></div>
            <div class="col-sm-8">
              <input class="form-control" id="newPhoneNumber"
                     placeholder="Enter phone number">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newEmail">Email:</label></div>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="newEmail"
                     placeholder="Enter email">

            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="newAddress">Address:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="newAddress"
                     placeholder="Enter address">
            </div>
          </div>
          <div class="form-group m-2">
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal edit-->
<div class='modal fade' id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-0 p-0">

        <form class="form-horizontal" action="/customer/save" method="post">

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editCustomerTypeId">Customer
              Type:</label></div>
            <div class="col-sm-8">
              <select type="number" class="form-control" id="editCustomerTypeId">
                <option value="0" disabled>Chọn loại khách hàng</option>
                <option>Diamond</option>
                <option>Platinum</option>
                <option>Gold</option>
                <option>Silver</option>
                <option>Member</option>
              </select>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editName">Name:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="editName"
                     placeholder="Enter name">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editDayOfBirth">Day Of
              Birth:</label></div>
            <div class="col-sm-8">
              <input type="date" class="form-control" id="editDayOfBirth"
                     placeholder="Enter day of birth">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label">Gender:</label></div>
            <div class="col-sm-8">
              <label for="gender1"><input class="ms-3 me-1" checked type="radio"
              >Nam</label>
              <label for="gender2"><input class="ms-3 me-1" type="radio">Nữ</label>
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editIdCard">ID card:</label></div>
            <div class="col-sm-8">
              <input type="number" class="form-control"
                     id="editIdCard" placeholder="Enter ID card">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editPhoneNumber">Phone
              number:</label></div>
            <div class="col-sm-8">
              <input class="form-control" id="editPhoneNumber"
                     placeholder="Enter phone number">
            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editEmail">Email:</label></div>
            <div class="col-sm-8">
              <input type="email" class="form-control" id="editEmail"
                     placeholder="Enter email">

            </div>
          </div>

          <div class="row form-group align-items-center m-2">
            <div class=" col-sm-4"><label class="control-label" for="editAddress">Address:</label></div>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="editAddress"
                     placeholder="Enter address">
            </div>
          </div>
          <div class="form-group m-2">
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-success">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
      </div>
      <form action="/customer/delete" method="post">
        <div class="modal-body">
          <input id="deleteId" name="deleteId" hidden>
          <span>Are you sure you want to delete customer </span>
          <span id="deleteName"></span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
